		
		<footer>
	
			<div class="wrapper">
	
				<p>&copy; Copyright Ian Yates 2012 <a class="atom-rss" href="{{ page.root_path }}/feed">RSS</a> CMS by <a href="http://www.staceyapp.com">stacey</a>
			
			</div> <!--/ wrapper -->
	
		</footer>	
		
		<!--required js-->
		<script src="{{ page.root_path }}public/js/disqus.js"></script>
		
		<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4239843-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
		
</body>
</html>		