<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Metaaaa -->
	<meta charset="utf-8">
	<title>{{ page.title }} | {{ page.page_title }}</title>
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="{{ page.name }}">

	<!-- Viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="{{ page.root_path }}public/css/normalize.css">
	<link rel="stylesheet" href="{{ page.root_path }}public/css/styles.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons -->
	<link rel="shortcut icon" href="{{ page.root_path }}/img/favicon.ico" />
	<link rel="apple-touch-icon" href="{{ page.root_path }}/img/apple-touch-icon.png" />

	<!--analyticus-->	
	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-11792865-33']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	
</head>
<body>
	
		<header class="clearfix">
		
			<div class="wrapper">
		
				<h1 class="logo">
					<a href="{{ page.root_path }}">Demo</a>
				</h1>
			
				<nav>
					<ul>
						{% for child in page.root %}
							{% if child.page_title %}							
								<li><a href="{{ child.url }}">{{ child.page_title }}</a></li>
							{% endif %}	
						{% endfor %}
					</ul>
				</nav>
			
			</div> <!--/ wrapper -->
			
		</header>	