html{ 
font-family: Arial, Helvetica, sans-serif;
}

body{ 
	margin: 0px;  
	background: url(../img/bg2b.png), url(../img/bg.png); 
	background-size: auto , 100% 100%; 
	background-attachment: scroll, fixed; 
	background-repeat: no-repeat;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 35pt;
	color: white;
	line-height: 37px;
	text-shadow: 0px 1px 1px #343434;
	margin-top: 10px;
}

p{

	width: 600px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: justify;

}

#wrapper {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	}

.accordionButton {	
	width: 150px;
	height: 30px;
	background: white;
	cursor: pointer;
	}
	
.accordionContent {	
	width: 500px;
	background: #e9eff3;
	text-align: left;
	padding: 10px;
	}
	
.over {
	background: #CCCCCC;
	}

.heading{
	margin-top: 10px;
	padding-top: 5px;
	padding-left: 10px;
}

.wrapp{
	position: absolute;
	width: 600px;
	margin-left: 40%;

}

.text{
	position:absolute;
}

.nmbr{
	color: #333;
}